<!DOCTYPE html>
<html>
    <head>
        <title>Layout</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="04-layout.css">
    </head>
    <body>
        <!-- https://css-tricks.com/snippets/css/a-guide-to-flexbox/ -->
        <div class="Page">
            <header class="Page-header">
                Header
            </header>
            <div class="Page-content">
                <div class="Page-content-nav">
                    <h2>Navigation</h2>
                    <p>Size determined from content</p>
                    <nav>
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">About</a></li>
                            <li><a href="">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <main class="Page-content-main">
                    <h1>Main content</h1>
                    <p>Takes rest of the space</p>

                    <article>
                        <h2>Title</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, architecto natus veniam obcaecati quae pariatur doloremque illo esse suscipit adipisci. Quod, nemo, repellat laboriosam eveniet nam impedit nihil molestiae cupiditate!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, architecto natus veniam obcaecati quae pariatur doloremque illo esse suscipit adipisci. Quod, nemo, repellat laboriosam eveniet nam impedit nihil molestiae cupiditate!</p>
                    </article>
                </main>
                <aside class="Page-content-aside">
                    <p>Side menu with other links</p>
                    <p>Fixed 200px size</p>
                </aside>
            </div>
            <footer class="Page-footer">Footer</footer>
        </div>

    </body>
</html>
